.blank {
  height: 3rem;
  border: 0;
}

#total-card {
  margin-bottom: .7rem;
}

#close-button {
  padding-right: .5rem;
}

.clickable {
  cursor: pointer;
}

#restaurant-bin {
  max-height: 8rem;
  padding: .6rem;
  overflow-x: scroll;
  white-space: nowrap;
}

.restaurant-image {
  margin: .1rem;
  width: 7rem;
  height: 7rem;
}

.menu-item {
  font-size: .9rem;
}

.sodium-mg {
  padding-right: 1rem;
  min-width: 3.5rem;
}
